.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://cdn.wallpapersafari.com/86/95/w0bj2q.jpg");

  background-size: cover;
}

.cardsimagesetting {
  width: 80px;
  height: 100px;
}
.cardscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  height: 100vh;
  width: 500px;
}

.cardsSection {
}
